.cardActionsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}